<!--
topics parameter
{
 title: string;
 lastBump: Date;
 accessCount: number;
 posts: {
   author: ObjectId;
   created: Date;
   body: string;
 }[];
 subscribers: ObjectId[];
}[]
-->

<!DOCTYPE html>
<html lang="en">
    <head><%- include('head') %></head>
  <body>
    <%- include('header') %>
    <main>
        <p style="color:blue" >Hello <%= user.username %></p>
        <% topics.forEach(topic => { %>
        <fieldset id="post-<%= topic._id %>">
          <legend class ="topic-name"><%= topic.title %></legend>
          <div class="topic-timestamp">Last Bump: <%= topic.lastBump %></div>
          <div class="access-count">Access Count: <%= topic.accessCount %></div>
          <a href="/topic/<%= topic._id %>">Go to topic</a>
        </fieldset>
        <% }) %>
    </main>


    
  </body>
</html>
