<!--
topics parameter
{
 title: string;
 lastBump: Date;
 accessCount: number;
 posts: {
   author: ObjectId;
   created: Date;
   body: string;
 }[];
 subscribers: ObjectId[];
}[]
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') %>
    </head>
    <body>
        <%- include('header') %>
        <main>
            <% if (!topics.length) { %>
            <p>No subscribed topics :(</p>
            <% } %> <% topics.forEach(topic => { %>
            <fieldset id="post-<%= topic._id %>">
                <legend class="topic-name"><%= topic.title %></legend>
                <div class="topic-timestamp">
                    Last Bump: <%= intl.format(topic.lastBump) %>
                </div>
                <div class="access-count">
                    Access Count: <%= topic.accessCount %>
                </div>
                <a href="/topic/<%= topic._id %>">Go to topic</a>
                <% if(locals.showPosts) { %>
                  <hr />
                  Recent Posts
                <% topic.posts.toSorted((a, b) => a.created - b.created).slice(-2).forEach(post => { %>
                <fieldset>
                    <legend>
                        <%= topic.users.find(x =>
                        x._id.equals(post.author))?.username %>
                    </legend>
                    <%= post.body %>
                </fieldset>
                <% }) } %>
            </fieldset>
            <% }) %>
        </main>
    </body>
</html>
