<!--
topic parameter
{
 title: string;
 lastBump: Date;
 accessCount: number;
 posts: {
   author: ObjectId;
   created: Date;
   body: string;
 }[];
 subscribers: ObjectId[];
}
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    
</head>
    <body>
        <%- include('header') %>
        <div>
            <h1><%= topic.title %></h1>
            <button type="submit" formaction="/subscribe">Subscribe</button>
        </div>
        <h1><%= topic.lastBump %></h1>
        <h1><%= topic.accessCount %></h1>
        <% topic.posts.forEach(post => { %>
         <fieldset>
            <legend><%= topic.users.find(x => x._id.equals(post.author)).username %></legend>
            <%= post.body %>
         </fieldset>
        <% }) %>
        
        <form action="/topic/<%= topic._id %>/post" method="post">
            <div>
                <label>Make a Post</label>
                <button type="submit">Send</button>
            </div>
            <div>
                <textarea name="body"></textarea>
            </div>
        </form>
        
    </body>
</html>